<div class="prose">
  <h2>// about</h2>
  <p>
    Based out of Fairbanks Alaska, I design, develop, build, and deploy instrumentation systems for arctic and subarctic climates.
  </p>
  <p>
    At present I have an internship at the Alaska Department of Environmental Conservation where I perform weekly maintenence on regulatory instruments and am prototyping an in-house non-regulatory PM10 monitors.
  </p>
  <p>
    Previously, my work has included developing and working with water depth sensors, All-sky systems, and Flux-gate magnetometers.
  </p>
</div>
