<div class="prose">
  <h2>// Field Work</h2>
  <ul class="item-list field-work-list">

    <li class="item">
      <div class="fw-row">
        <div class="fw-photo">
          <img src="Eagle.jpg" alt="A sky with tracer clouds" />
        </div>
        <div class="fw-content">
          <div class="item-title">Sounding rocket ground support</div>
          <div class="item-meta">
            In 2025, three sounding rockets were launched as part of the <a href="https://storymaps.arcgis.com/stories/1e0870e7226d45fabffd3c21784eb262">NASA A.W.S.O.M.E. mission</a>, I was stationed at Eagle AK to take ground observations as one of element in a highly coordinated effort. <br>
            <a href="https://www.gi.alaska.edu/news/uaf-students-play-key-role-awesome-rocket-mission">More on the mission</a> <br>
            <a href="https://www.uaf.edu/aurora/archives/summer-2025/students-achieve-and-inspire.php">Another article</a>
          </div>
        </div>
      </div>
    </li>

    <li class="item">
      <div class="fw-row reverse">
        <div class="fw-photo">
          <img src="Poker.png" alt="Poker Flat Logo" style="background-color: white;"/>
        </div>
        <div class="fw-content">
          <div class="item-title"><a href="#">Instrument Deployments at Poker Flat</a></div>
          <div class="item-meta">
            Poker Flat Research Range is home to many instruments.
            At Poker Flat, I have been fortunate enough to be involved in the deployment, maintenance, and recovery of magnetometer and all-sky camera systems.
          </div>
        </div>
      </div>
    </li>

    <li class="item">
      <div class="fw-row">
        <div class="fw-photo">
          <img src="gi_logo.svg" alt="Geophysical Institute Logo" />
        </div>
        <div class="fw-content">
          <div class="item-title">University of Alaska Geophysical Institute</div>
          <div class="item-meta">
            During my time at the Geophysical Institute, I was involved in several magnetometer deployments including several sites across the Fairbanks North Star Borough (AK), Soldotna (AK), and Indre Arna (NO).
            <a href="https://sites.google.com/alaska.edu/swug/home">More about the project</a>
          </div>
        </div>
      </div>
    </li>

    <li class="item">
      <div class="fw-row reverse">
        <div class="fw-photo">
          <img src="../dec-logo.png" alt="Logo of the Department of Environmental Conservation" />
        </div>
        <div class="fw-content">
          <div class="item-title">ADEC</div>
          <div class="item-meta">
            As a member of the DEC DOA AMQA Field Monitoring team, I make weekly trips to field sites to maintain and perform QC on regulatory instruments.
            <a href="https://dec.alaska.gov/air/">More on what we do</a>
          </div>
        </div>
      </div>
    </li>

    <!--
<li class="item">
<div class="fw-row reverse">
<div class="fw-photo">
<img src="../dec-logo.png" alt="Poker Flat Research Range" />
<p class="fw-caption">Second photo caption goes here.</p>
</div>
<div class="fw-content">
<div class="item-title"><a href="#">Second Entry Title</a></div>
<div class="item-meta">
Description of this fieldwork item, with an
<a href="#">embedded article link</a> woven in naturally.
</div>
</div>
</div>
</li>
-->

  </ul>
</div>
