<div class="prose">
  <h2>// projects</h2>
  <ul class="item-list">

    <li class="item">
      <div class="item-title"><a href="https://codeberg.org/J_S_Barkely-Griggs/Wayvy">wayvy</a></div>
      <div class="item-meta">Wayvy is a wallpaper switcher and theming manager for wayland written in rust.</div>
    </li>

    <li class="item">
      <div class="item-title"><a href="https://github.com/Jsbarkleygriggs/anyrun-network-manager">anyrun-network-manager</a></div>
      <div class="item-meta">A plugin for controlling network manager through anyrun</div>
    </li>

    <li class="item">
      <div class="item-title"><a href="https://osf.io/dbqtc/overview">'MDV' magnetometer instrument</a></div>
      <div class="item-meta">Surface or Subsurface deployable Magnetometer Vessel for Remote Sensing in space weather applications.</div>
    </li>
    <!-- copy an <li class="item"> block to add more -->

  </ul>
</div>
