<div class="prose">
  <h2>// research</h2>

  <ul class="item-list">
    <li class="item">
      <div class="item-title"> Frontiers: Space Weather Underground Program: Low-Cost Magnetometer Observations of the 2023 Annular Solar Eclipse</div>
      <div class="item-meta">Accepted for publication 2026</div>
    </li>

    <li class="item">
      <div class="item-title">AGU 2024</div>
      <div class="item-meta">Abstract ID#: 1519058</div>
    </li>

    <li class="item">
      <div class="item-title">AGU 2023</div>
      <div class="item-meta">
        Abstract ID#: 1519514 <br>
        Abstract ID#: 1374931
      </div>
    </li>

    <li class="item">
      <div class="item-title">AGU 2023</div>
      <div class="item-meta">
        Abstract ID#: 1519514 <br>
        Abstract ID#: 1374931
      </div>
    </li>


    <!-- copy an <li class="item"> block to add more -->

  </ul>
</div>
