<div class="prose">
  <h2>// research</h2>

  <ul class="item-list">
    <li class="item">
      <div class="item-title"> <a href="https://links.email.frontiersin.org/ls/click?upn=u001.qPvnClRwyVsaBj5SNX-2FU6kHNNcT8EktN9V3ZuWDAMVngXyRMuiW0Up-2FncNBAJ-2BXagPMcfdNRPLLPqtMoGLAS3Kgr4uqQ7Yvpj-2FD5H8o7ZEk-3DTlXG_vH9fS8TdatVxA2CGrw9K983LBDp0Alx8EJKftBv4rURqUN0894jc9Oc2nt8GhM553qQI67BUuXSyKS-2BTpx1XGveOp7rs0bXnrb81baDshsLcJ9gGwLZxjqY7StziRNjI2LAbv4kv5izYA5lEcNoINfY5qdhiiZ39NAaktBAROMdfKo9NhBwUp96-2FCeYbI0NCb5KBfJ8DjQ40xypENfBqpJF9nBRG47Xh0OPEFjzNMfR5GdNg2VshcYmihiu4w3J9zbSMhAPamPZyUo-2BuBw5GccXnJR-2FObx5g6rsz6fx4DxXpmUfYzc1g-2BsqtKaCkyiUr-2FdjovwvOZmSIxlynr0DrifXji3BJDHqpU6RuwiXljcGmzAyg7G3WIV0h3XQnjdlIO4D4NduSVJxyTEGZaipBxw-3D-3D">Frontiers: Space Weather Underground Program: Low-Cost Magnetometer Observations of the 2023 Annular Solar Eclipse</a></div>
      <div class="item-meta">Published May 31, 2026</div>
    </li>

    <li class="item">
      <div class="item-title">AGU 2024</div>
      <div class="item-meta">Abstract ID#: 1519058</div>
    </li>

    <li class="item">
      <div class="item-title">AGU 2023</div>
      <div class="item-meta">
        Abstract ID#: 1519514 <br>
        Abstract ID#: 1374931
      </div>
    </li>

    <li class="item">
      <div class="item-title">AGU 2023</div>
      <div class="item-meta">
        Abstract ID#: 1519514 <br>
        Abstract ID#: 1374931
      </div>
    </li>


    <!-- copy an <li class="item"> block to add more -->

  </ul>
</div>
